body {
    margin: 0;
}

@mixin blank {
    &:before,
    &:after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        overflow: hidden;
    }
}

header {
    @include blank

    position: block;
    min-height: 100px;
    background: #222222;

    h1 {
        color: white;
    }
}

.page-width {
    max-width: 1500px;
    margin: auto;
}

#map {
    height: 800px;
    width: 100%;
}

.hidden {
    display: none;
}
